.navbar{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1rem 1rem;
  background-color:transparent;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar-container{
  position: fixed;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 09px;
  /* width: fit-content; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 80px;
  padding: 12px 85px;
  height: 38px;
  background-color: whitesmoke;
  margin-left: 183px;
  padding-left: 30px;
  /* padding-right: 200px; */
  margin-right: 100px;
  /* margin-inline-start: 21px; */
  /* margin: 0 auto; */
  margin-top: 11px;
  
}
.navbar-fixed{

}
.navbar-logo{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  cursor: pointer;
  margin-right: 3rem;
  margin-left: 2rem;
  /* padding-left: -13rem; */
  /* padding-right: 0px; */
  
}
.navbar-logo:hover{
  transition: 2,0 ease-in;
  
}
.navbar-links{
  display: flex;
  list-style: none;
  text-align: center;
  gap: 2px;
  margin: 20px;
  padding: 0;
  margin-left: 110px;

}
.navbar-item{
  color: rgb(122, 121, 121);
  cursor: pointer;
  /* font-size: 10px; */
  background-color: transparent;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 10px;
  margin-left:px;
  padding: 0 10px;
  font-size:12px;

}
.navbar-item:hover{
  background-color: #eeecec;

}
.navbar-actions{
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-right: -70px;
  margin-left: 100px;


}
.btn{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3rem;
  border:none
  transition:background-color 0.2s ease , color 0.2s ease;
}
.btn-login{
  background-color: transparent;
  font-size: 12px;
  color: #686464;
}
.btn-login:hover{
  background-color: grey;
}
.btn-start{
  background-color: black;
  font-size: 11px;
  color: #fff;
  margin-left: 2px;
}
