body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpPd56o0wnpLDnLo3pgdUP_RPSjzoOMGO_1MVELRBBeg&s=10");
    background-size: cover;
    background-repeat: no-repeat;
}